#main {
	width: 900px;
	text-align: left;
}

#nvg {
	background-color: #000;
	padding-right: 69px;
}

#nvg a {
	color: #fff;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
}

#nvg a:hover {
	color: #000;
}

.centerColumn {
	text-align: center;
}

.scheduleTable div table {
	width: unset;
}

.scheduleTable div table td {
	width: 70px;
}

.schedulingDatePicker {
	width:100%;
}

.schedulingDatePicker td {
	vertical-align: top;
}

.ui-widget-content {
	color: #333;
}

.fButton {
	min-height: 32px;
	min-width: 200px;
}

.ui-accordion .ui-accordion-content, .ui-accordion .ui-accordion-content  table td
	{
	padding: 0;
	border: 0px none #fff;
}

.ui-panel, .ui-tabs, h1 {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.ui-tabs {
	padding: 0px
}

#scheduleBox {
	min-height: 500px;
}

.tableFix>tbody>tr>td:first-child {
	width: 200px
}

.tableFix>tbody>tr>td:first-child + td {
	width: 300px;
}

.tableFix .ui-inputfield, .tableFix .ui-selectcheckboxmenu {
	width: 300px;
	padding-left: 4px;
	padding-right: 4px;
}

.ui-panel, h1, .ui-tabs, .ui-tabs .ui-tabs-nav {
	border-radius: 10px;
}

h1 {
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,
		255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
	text-shadow: 0px 0px 1px rgba(128, 128, 128, 1);
	margin: 6px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
	padding-left: 20px;
	font-size: 20pt;
}

html body, #nvg a:hover {
	background-color: #47f;
}

.ui-tabs .ui-tabs-nav {
	background: -moz-linear-gradient(top, rgba(170, 204, 255, 1) 0%,
		rgba(170, 204, 255, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(170,
		204, 255, 1)), color-stop(100%, rgba(170, 204, 255, 0)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(170, 204, 255, 1) 0%,
		rgba(170, 204, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(170, 204, 255, 1) 0%,
		rgba(170, 204, 255, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(170, 204, 255, 1) 0%,
		rgba(170, 204, 255, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(170, 204, 255, 1) 0%,
		rgba(170, 204, 255, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaccff',
		endColorstr='#00aaccff', GradientType=0); /* IE6-9 */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	color: #00f;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(221, 221, 255, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1)), color-stop(100%, rgba(221, 221, 255, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(221, 221, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(221, 221, 255, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(221, 221, 255, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(221, 221, 255, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ddddff', GradientType=0); /* IE6-9 */
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: #FFF none repeat scroll 0% 0%;
}

html body {
	margin: 0px;
	font-family: "Arial", Georgia, Serif;
}

html body .ui-widget {
	font-size: 13pt;
}

.ui-tabs .ui-tabs-nav li {
	background: unset;
}

.ui-tabs { .
	background-color: rgba(255, 255, 255, 0.75);
}

.attendanceMinMax, a.editLink {
	color: #666;
}

a.editLink {
	font-size: small;
}

a {
	color: #00a;
}

a:hover {
	color: #00f;
}

.ui-datatable-odd {
	background-color: #f4f4f4;
}

.surveyTable>div>table {
	width: unset;
	margin-top: 40px;
	margin-bottom: 40px;
}
