<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
	<title>#{msg.adminHeaderTitle}</title>
</h:head>
<h:body>
	<h:outputStylesheet library="css" name="style.css" />
	<div align="center">
		<h:outputScript library="js" name="adminUtil.js" target="head" />
		<div style="max-width: 1000px; height: 100%" align="left">
			<h1>#{msg.adminTitle}</h1>
			<h:form>
				<p:commandButton action="#{loginBean.logout()}"
					value="#{msg.logout} (#{loginBean.user.userName})" />
			</h:form>
			<p:tabView dynamic="true" cache="false">
				<p:tab id="tab0" title="#{msg.adminDBTitle}">
					<h:form id="form0">
						<h2>#{msg.adminDBTitle}</h2>
						<h4>#{msg.adminDBAutoClean}</h4>
						<h:panelGrid id="autoCleanPanel" columns="4">
							<h:outputFormat id="autoCleanDaysFormat"
								value="#{msg.adminDBAutoCleanText1}">
								<f:param value="#{adminBean.autoCleanDays}" />
							</h:outputFormat>
							<h:inputHidden id="autoCleanDays"
								value="#{adminBean.autoCleanDays}" />
							<p:slider id="autoCleanSlider" minValue="1" maxValue="30" for="autoCleanDays"
								style="width:150px" display="slideValueAutoClean" disabled="#{adminBean.autoCleanStatus == 'started'}">
								<p:ajax event="slideEnd" process="autoCleanPanel"
									update="autoCleanPanel" />
							</p:slider>
							<h:outputText id="slideValueAutoClean" value=" " />

							<p:selectOneButton value="#{adminBean.autoCleanStatus}">
								<p:ajax listener="#{adminBean.onAutoCleanStatusChange}" update="autoCleanSlider"/>
								<f:selectItem itemLabel="#{msg.adminDBAutoCleanStart}"
									itemValue="started" />
								<f:selectItem itemLabel="#{msg.adminDBAutoCleanStop}"
									itemValue="stopped" />
							</p:selectOneButton>
						</h:panelGrid>
					</h:form>
				</p:tab>


				<p:tab id="tab1" title="#{msg.adminGroupsTitle}">
					<h:form id="form1">
						<h2>#{msg.adminGroupsTitle}</h2>
						<h4>#{msg.adminGroupSubmit}</h4>
						<h:panelGrid id="groupPanel" columns="3" class="tableFix">
							<h:outputLabel value="#{msg.adminGroupName}" for="adminGroupName" />
							<p:inputText id="adminGroupName" value="#{adminBean.groupName}"
								required="true"
								validatorMessage="#{msg.adminGroupNameValidation}"
								requiredMessage="#{msg.adminGroupNameValidation}">
								<f:validateLength minimum="1" maximum="30" />
								<p:clientValidator event="keyup" />
							</p:inputText>
							<p:message for="adminGroupName" />


							<h:outputLabel value="#{msg.adminGroupAdmin}"
								for="adminGroupAdmin" />
							<p:selectOneMenu style="width:100%" id="adminGroupAdmin"
								value="#{adminBean.groupAdmin}"
								converter="omnifaces.SelectItemsConverter" filter="true"
								filterMatchMode="startsWith" required="true"
								requiredMessage="#{msg.adminUserAdminValidation}">
								<f:selectItem itemLabel="#{msg.adminGroupAdmin}" itemValue="" />
								<f:selectItems value="#{adminBean.userBeanList}" />
							</p:selectOneMenu>
							<p:message for="adminGroupAdmin" />

							<h:outputLabel value="#{msg.adminGroupDesc}" for="adminGroupDesc" />
							<p:inputTextarea id="adminGroupDesc"
								value="#{adminBean.groupDescription}" rows="5" cols="30"
								maxlength="400">
								<f:validateLength maximum="400" />
							</p:inputTextarea>
							<p:message for="adminGroupDesc" />

							<p:commandButton class="fButton"
								action="#{adminBean.saveGroup()}"
								value="#{msg.adminGroupSubmit}" update="@form" />
							<p:messages />
						</h:panelGrid>
						<br />

						<h4>#{msg.adminGroupList}</h4>
						<p:dataTable id="groupList" value="#{adminBean.groupBeanList}"
							var="groups" emptyMessage="#{msg.listEmpty}" scrollable="true" scrollHeight="400">
							<p:column filterBy="#{groups.groupsName}"
								filterMatchMode="startsWith" headerText="#{msg.adminGroupName}">
						#{groups.groupsName}
					</p:column>
							<p:column headerText="#{msg.adminGroupDesc}"
								style="text-wrap:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
								<h:outputText id="groupDescriptionTooltip"
									value="#{groups.groupsDescription}" />
								<p:tooltip for="groupDescriptionTooltip"
									value="#{groups.groupsDescription}" style="max-width:250px" />
							</p:column>
							<p:column headerText="#{msg.adminGroupAdmin}">
						#{adminBean.getUserNameFromId(groups.groupsAdmin)}
					</p:column>
							<p:column headerText="#{msg.adminUsers}">
								<p:accordionPanel activeIndex="null">
									<p:tab title=" ">
										<h:dataTable value="#{groups.groupings}" var="user">
											<h:column>
									#{user.user.userName}
								</h:column>
											<h:column>
												<div align="right">
													<p:commandButton icon="fa fa-remove"
														action="#{adminBean.removeGrouping(user)}" process="@this"
														update="@form" />
												</div>
											</h:column>
										</h:dataTable>
									</p:tab>
								</p:accordionPanel>
							</p:column>
							<p:column style="width:200px">
								<p:commandButton icon="fa fa-remove"
									value="#{msg.adminGroupDelete}" class="fButton"
									action="#{adminBean.removeGroup(groups)}" process="@this"
									update="@form" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:tab>


				<p:tab id="tab2" title="#{msg.adminUserTitle}">
					<h:form id="form2">
						<h2>#{msg.adminUserTitle}</h2>
						<h4>#{msg.adminUserSubmit}</h4>
						<h:panelGrid id="userPanel" columns="3" class="tableFix">
							<h:outputLabel value="#{msg.adminUserName}" for="adminUserName" />
							<p:inputText id="adminUserName" value="#{adminBean.userName}"
								required="true"
								validatorMessage="#{msg.adminUserNameValidation}"
								requiredMessage="#{msg.adminUserNameValidation}">
								<f:validateLength minimum="1" maximum="50" />
								<p:clientValidator event="keyup" />
							</p:inputText>
							<p:message for="adminUserName" />

							<h:outputLabel value="#{msg.adminUserPassword}"
								for="adminUserPassword" />
							<p:password id="adminUserPassword"
								value="#{adminBean.userPassword}" required="true"
								requiredMessage="#{msg.adminUserPasswordValidation}" />
							<p:message for="adminUserPassword" />

							<h:outputLabel for="adminUserMail" value="#{msg.adminUserMail}" />
							<p:inputText id="adminUserMail" value="#{adminBean.userMail}"
								required="true"
								validatorMessage="#{msg.adminUserMailValidation}"
								requiredMessage="#{msg.adminUserMailValidation}">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
								<f:validateLength maximum="50" />
								<p:clientValidator event="keyup" />
							</p:inputText>
							<p:message for="adminUserMail" />

							<h:outputLabel value="#{msg.adminUserLang}" for="adminUserLang" />
							<p:selectOneMenu style="width:100%" id="adminUserLang"
								value="#{adminBean.userLang}" required="true"
								requiredMessage="#{msg.adminUserLangValidation}">
								<f:selectItem itemLabel="#{msg.adminUserLang}" itemValue="" />
								<f:selectItems value="#{adminBean.availableLanguages}" />
							</p:selectOneMenu>
							<p:message for="adminUserLang" />

							<p:commandButton class="fButton" id="saveUserSubmit"
								action="#{adminBean.saveUser()}" value="#{msg.adminUserSubmit}"
								update="@form" />
							<p:messages />
						</h:panelGrid>
						<h:link outcome="csv" value="#{msg.adminLinkToCSV}" />
						<br />
						<br />
						<br />


						<h4>#{msg.adminUserGroupAdd}</h4>
						<h:panelGrid id="userToGroupPanel" columns="4">
							<p:selectCheckboxMenu value="#{adminBean.usersForGroupsAdding}"
								converter="omnifaces.SelectItemsConverter"
								label="#{msg.adminUsers}" filter="true"
								filterMatchMode="startsWith">
								<f:selectItems value="#{adminBean.userBeanList}" />
							</p:selectCheckboxMenu>
							<span>-></span>
							<p:selectCheckboxMenu value="#{adminBean.groupsForUsersAdding}"
								converter="omnifaces.SelectItemsConverter"
								label="#{msg.adminGroups}" filter="true"
								filterMatchMode="startsWith">
								<f:selectItems value="#{adminBean.groupBeanList}" />
							</p:selectCheckboxMenu>
							<p:commandButton class="fButton"
								action="#{adminBean.addUsersToGroups()}"
								value="#{msg.adminUserGroupAdd}" process="userToGroupPanel"
								update="userGroupTable userGroupMessage" />
						</h:panelGrid>
						<p:messages id="userGroupMessage" />
						<br />
						<br />
						<br />


						<h4>#{msg.adminUserList}</h4>
						<p:dataTable id="userGroupTable" value="#{adminBean.userBeanList}"
							var="user" emptyMessage="#{msg.listEmpty}" scrollable="true" scrollHeight="400">
							<p:column headerText="#{msg.adminUserName}"
								filterBy="#{user.userName}" filterMatchMode="startsWith">
						
						#{user.userName}
					</p:column>
							<p:column headerText="#{msg.adminUserMail}">
						#{user.email}
					</p:column>
							<p:column headerText="#{msg.adminGroups}">
								<p:accordionPanel activeIndex="null">
									<p:tab title=" ">
										<h:dataTable value="#{adminBean.userGroupList(user)}"
											var="group">
											<h:column>
									#{group.groupsName}
								</h:column>
											<h:column>
												<div align="right">
													<p:commandButton icon="fa fa-remove"
														action="#{adminBean.removeUserFromGroup(user, group)}"
														update="@form" process="@this" />
												</div>
											</h:column>
										</h:dataTable>
									</p:tab>
								</p:accordionPanel>
							</p:column>
							<p:column headerText="#{msg.adminUserDelete}">
								<p:commandButton icon="fa fa-remove"
									value="#{msg.adminUserDelete}" class="fButton"
									action="#{adminBean.removeUser(user)}" update="userGroupTable"
									process="@this" />
							</p:column>
						</p:dataTable>

					</h:form>
				</p:tab>


				<p:tab id="tab3" title="#{msg.adminMailTitle}">
					<h:form id="form3">
						<h2>#{msg.adminMailTitle}</h2>
						<h:panelGroup id="mailSettings">
							<h:panelGrid columns="2" class="tableFix">
								<h:outputLabel value="#{msg.adminMail}" />
								<p:inputText value="#{adminBean.mailSettingsAddress}"
									required="true"
									validatorMessage="#{msg.scheduleValidationMail}"
									requiredMessage="#{msg.scheduleValidationMail}">
									<f:validateRegex
										pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
									<f:validateLength maximum="50" />
									<p:clientValidator event="keyup" />
								</p:inputText>

								<h:outputLabel value="#{msg.adminMailSMPT}" />
								<p:inputText value="#{adminBean.mailSettingsSMTP}" />

								<h:outputLabel value="#{msg.adminMailSMPTServer}" />
								<p:inputText value="#{adminBean.mailSettingsSMTPServer}" />

								<h:outputLabel value="#{msg.adminMailUser}" />
								<p:inputText value="#{adminBean.mailSettingsUser}" />

								<h:outputLabel value="#{msg.adminMailPassword}" />
								<h:panelGroup>
								<p:password id="mailSettingsPassword"
									value="#{adminBean.mailSettingsPassword}" />
								<p:button onclick="togglePwMask1(); return false;" icon="fa fa-eye" />
								<p:watermark for="mailSettingsPassword"
									value="#{msg.adminPasswordPlaceHolder}" id="watermark" />
								</h:panelGroup>
							</h:panelGrid>
							<p:commandButton class="fButton" value="#{msg.adminMailSubmit}"
								action="#{adminBean.saveMailSettings()}" update="mailSettings" process="mailSettings" />
								<p:messages />
						</h:panelGroup>
						<br />

						<h2>#{msg.adminMailNotification}</h2>
						<h:panelGroup id="mailNotificationPanel">
							<h:outputLabel value="#{msg.adminMailNotificationSurveyReminder}" />
							<h:panelGrid columns="5">
								<h:outputLabel value="" />
								<h:outputFormat value="#{msg.adminMailNotfication1}">
									<f:param value="#{adminBean.mailNotificationHours1}" />
								</h:outputFormat>
								<h:inputHidden id="mailNotifcation1"
									value="#{adminBean.mailNotificationHours1}" />
								<p:slider minValue="1" maxValue="14" for="mailNotifcation1"
									style="width:150px" display="slideValueMail1">
									<p:ajax event="slideEnd" process="mailNotificationPanel"
										update="mailNotificationPanel" />
								</p:slider>
								<h:outputText id="slideValueMail1" value=" " />

							</h:panelGrid>
							<p:commandButton class="fButton"
								value="#{msg.adminMailNotificationSubmit}"
								action="#{adminBean.saveMailReminderSettings()}"
								process="mailNotificationPanel" update="mailNotificationPanel"
								immediate="true" />
							<p:messages />
						</h:panelGroup>
					</h:form>
				</p:tab>

				<p:tab id="tab4" title="#{msg.adminAccountSettings}">
					<h:form id="form4">
						<h2>#{msg.adminAccountSettings}</h2>
						<h:panelGroup id="accountPanel">
							<h:panelGrid columns="2" class="tableFix">
								<h:outputLabel value="#{msg.adminAccountSettingsMail}" />
								<p:inputText value="#{adminBean.adminAccountSettingsEMail}" />

								<h:outputLabel value="#{msg.adminAccountSettingsPassword}" />
								<h:panelGroup>
								<p:password id="adminAccountPassword"
									value="#{adminBean.adminAccountSettingsPassword}" />
								<p:button onclick="togglePwMask2(); return false;" icon="fa fa-eye" />
								<p:watermark for="adminAccountPassword"
									value="#{msg.adminPasswordPlaceHolder}" id="watermark" />
								</h:panelGroup>
							</h:panelGrid>
							<p:commandButton class="fButton"
								value="#{msg.adminAccountSettingsSubmit}"
								action="#{adminBean.saveAccountSettings()}" update="@form" />
							<p:messages />
						</h:panelGroup>
					</h:form>
				</p:tab>
			</p:tabView>
		</div>
	</div>
</h:body>
</html>