<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<h:head>
	<title>#{msg.adminCSVHeaderTitle}</title>
</h:head>
<h:body>
	<h:outputStylesheet library="css" name="style.css" />
	<div align="center">
		<div style="max-width: 1000px; height: 100%">
			<h1>#{msg.adminCSVTitle}</h1>
			<h:form>
				<p:commandButton action="#{loginBean.logout()}"
					value="#{msg.logout} (#{loginBean.user.userName})" />
			</h:form>
			<p:panel>
				<h:link outcome="admin" value="#{msg.adminCSVLinkToAdmin}" />
				<h:form enctype="multipart/form-data">
					<h:outputLabel value="#{msg.adminCSVExplanation1}" />
					<br />
					<h:outputLabel value="#{msg.adminCSVExplanation2}" />
					<br />
					<h:outputLabel value="#{msg.adminCSVExplanation3}" />
					<br />
					<br />

					<p:fileUpload id="upload" value="#{adminBean.userCSVFile}"
						mode="simple" />
					<h:commandButton class="fButton" value="#{msg.adminCSVUpload}"
						actionListener="#{adminBean.generateUserCSVList}" />

					<p:messages />
					<br />
					<br />

					<h:panelGrid rendered="#{not empty adminBean.userCSVList}">
						<h:outputLabel value="#{msg.adminCSVNewUsers}" />
						<p:dataTable value="#{adminBean.userCSVList}" var="csvList"
							scrollable="true" scrollHeight="500">
							<p:column headerText="#{msg.adminUserName}">
					#{csvList.userName}
				</p:column>
							<p:column headerText="#{msg.adminUserPassword}">
					#{csvList.password}
				</p:column>
							<p:column headerText="#{msg.adminUserMail}">
					#{csvList.email}
				</p:column>
						</p:dataTable>
					</h:panelGrid>
				</h:form>
			</p:panel>
		</div>
	</div>
</h:body>
</html>