<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:s="http://jboss.com/products/seam/taglib">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.icsHeaderTitle}</ui:define>
	<ui:define name="content">
		<h1>#{msg.icsHeader}</h1>
		<p:panel>
			<h:panelGroup
				rendered="#{not exportIcsBean.idError and not exportIcsBean.noMeetingConfirmed}">
				<h:form>
					<h:panelGrid columns="2" class="tableFix">
						<h:outputLabel value="#{msg.icsConfirmedDate}" />
						<h:outputLabel value="#{exportIcsBean.confirmedDateString}" />
					</h:panelGrid>
					<br />
					<p>#{msg.icsText}</p>
					<br />
					<p:commandButton value="#{msg.icsDownload}" ajax="false"
						icon="ui-icon-arrowthick-1-s"
						onclick="PrimeFaces.monitorDownload(null, stop)"
						actionListener="#{exportIcsBean.generateIcsFile()}">
						<p:fileDownload value="#{exportIcsBean.file}" />
					</p:commandButton>
					<p:remoteCommand name="stop"
						action="#{exportIcsBean.onDlFinished()}" />
				</h:form>
			</h:panelGroup>
			<h:panelGrid rendered="#{exportIcsBean.idError}">
				<p>#{msg.icsIdError}</p>
			</h:panelGrid>
			<h:panelGrid
				rendered="#{not exportIcsBean.idError and exportIcsBean.noMeetingConfirmed}">
				<p>#{msg.icsNoMeetingConfirmed}</p>
			</h:panelGrid>
			<p:messages />
		</p:panel>
	</ui:define>
</ui:composition>
</html>