<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><ui:insert name="title">Template title</ui:insert></title>
</h:head>
<h:body>
	<h:outputScript library="js" name="locale.js" target="head" />
	<h:outputStylesheet library="css" name="style.css" />
	<div align="center">
		<div id="nvg">
			<h:graphicImage library="images" name="logoNav.jpg" alt="FlexPlan"
				style="float:left" />
			<h:form>
				<h:link outcome="index" value="FlexPlan" />
				<h:link outcome="eventScheduling" value="#{msg.scheduleLink}" />
				<h:link outcome="overview" value="#{msg.overviewTitle}"
					rendered="#{loginBean.loggedIn}" />
				<h:link outcome="register" value="#{msg.register}"
					rendered="#{!loginBean.loggedIn}" />
				<h:link outcome="overview" value="#{msg.login}"
					rendered="#{!loginBean.loggedIn}" />
				<h:commandLink action="#{loginBean.logout()}"
					value="#{msg.logout} (#{loginBean.user.userName})"
					rendered="#{loginBean.loggedIn}" />
			</h:form>
		</div>
		<div id="main">
			<ui:insert name="content">No Content</ui:insert>
			<noscript>
				<p>This website requires Java Script.</p>
			</noscript>
		</div>
	</div>
</h:body>
</html>