<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.registerHeadline}</ui:define>
	<ui:define name="content">
		<p:panel>
			<h:outputText value="#{msg.participation_UserAlreadyParticipate}" />
			<h:form>
				<h:outputLink value="">#{msg.participation_Reload}</h:outputLink>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>