<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.surveyTitle}</ui:define>
	<ui:define name="content">
		<h1>#{msg.surveyTitle}</h1>
		<p:panel>
			<p:outputLabel rendered="#{meetingBean.meeting==null}"
				value="#{msg.participation_Meeting_Does_Not_Exist}" />

			<h:panelGrid columns="2" id="information" class="tableFix"
				rendered="#{meetingBean.meeting!=null}">
				<p:outputLabel value="#{msg.participation_Title}" />
				<p:outputLabel value="#{meetingBean.meeting.title}" />

				<p:outputLabel value="#{msg.participation_Creator}" />
				<p:outputLabel
					value="#{meetingBean.getCreator(meetingBean.meeting.creator).userName}" />

				<p:outputLabel value="#{msg.participation_Location}" />
				<p:outputLabel value="#{meetingBean.meeting.location}" />

				<p:outputLabel value="#{msg.participation_Description}" />
				<p:outputLabel value="#{meetingBean.meeting.description}" />

				<p:outputLabel value="#{msg.participation_Min_Participants}" />
				<p:outputLabel value="#{meetingBean.meeting.minParticipants}" />

				<p:outputLabel value="#{msg.participation_Max_Participants}" />
				<p:outputLabel value="#{meetingBean.meeting.maxParticipants}" />

				<p:outputLabel value="#{msg.participation_Act_Participants}" />
				<p:outputLabel value="#{meetingBean.meeting.users.size()}" />
			</h:panelGrid>
			<h:form id="form" rendered="#{meetingBean.meeting!=null}">
				<p:dataTable var="user" value="#{meetingBean.users}"
					style="margin-top:40px" id="table" class="scheduleTable">
					<p:columnGroup type="header">
						<p:row>
							<p:column rowspan="4" headerText="#{msg.participation_User}"
								width="230" />
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
								<p:column headerText="#{meetingBean.getMonthAsString(month)}"
									colspan="#{meetingBean.getTimesInMonth(month)}" />
							</ui:repeat>
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
								<ui:repeat var="day"
									value="#{meetingBean.getDaysOfMonth(month)}"
									size="#{meetingBean.getDaysOfMonth(month).size()}">
									<p:column headerText="#{meetingBean.getDayAsString(day)}"
										colspan="#{meetingBean.getTimesOfDay(day).size()}" />
								</ui:repeat>
							</ui:repeat>
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
								<ui:repeat var="day"
									value="#{meetingBean.getDaysOfMonth(month)}"
									size="#{meetingBean.getDaysOfMonth(month).size()}">
									<ui:repeat var="time" value="#{meetingBean.getTimesOfDay(day)}"
										size="#{meetingBean.getTimesOfDay(day).size()}">
										<p:column headerText="#{meetingBean.getTimeAsString(time)}"
											width="10" />
									</ui:repeat>
								</ui:repeat>
							</ui:repeat>
						</p:row>
					</p:columnGroup>

					<p:column>
						<p:commandButton action="#{meetingBean.deleteUser(user)}"
							icon="fa fa-remove" style="padding-right: 5px;"
							disabled="#{(user.registered.equalsIgnoreCase('yes') and !meetingBean.isUserLoggedIn(user)) or meetingBean.isConfirmed(null)}"
							rendered="#{!meetingBean.dummyUser(user) or meetingBean.isUserLoggedIn(user)}"
							immediate="true" update="@form" />
						<p:commandButton action="#{meetingBean.makeUserEditable(user)}"
							icon="fa fa-edit" style="padding-right: 5px;"
							update="@(form :not(.noupdate))"
							disabled="#{user.registered.equalsIgnoreCase('yes') or meetingBean.isConfirmed(null)}"
							rendered="#{!meetingBean.dummyUser(user)}" immediate="true" />
						<p:outputLabel value="#{user.userName}"
							rendered="#{!meetingBean.dummyUser(user) or meetingBean.isUserLoggedIn(user)}" />
						<p:inputText value="#{user.userName}" id="userName"
							rendered="#{meetingBean.dummyUser(user) and !meetingBean.maxParticipantsReached() and meetingBean.editableUser==null and !meetingBean.isUserLoggedIn(user)}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Name}"
							required="true" validatorMessage="#{msg.scheduleValidationName}"
							requiredMessage="#{msg.scheduleValidationName}">
							<f:validateLength minimum="1" maximum="50" />
							<p:clientValidator event="keyup" />
						</p:inputText>
						<p:message for="userName" />
						<p:inputText value="#{user.userName}" id="userName2"
							rendered="#{meetingBean.isUserEditable(user) and !meetingBean.isUserLoggedIn(user)}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Name}"
							required="true" validatorMessage="#{msg.scheduleValidationName}"
							requiredMessage="#{msg.scheduleValidationName}">
							<f:validateLength minimum="1" maximum="50" />
							<f:ajax render="username2"></f:ajax>
							<p:clientValidator event="keyup" />
							<p:focus for="userName2" />
						</p:inputText>
						<p:message for="userName2" />
						<p:inputText value="#{user.email}" id="e-mail"
							rendered="#{meetingBean.dummyUser(user) and meetingBean.editableUser==null and !meetingBean.maxParticipantsReached() and !meetingBean.isUserLoggedIn(user)}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Mail}"
							required="true" validatorMessage="#{msg.scheduleValidationMail}"
							requiredMessage="#{msg.scheduleValidationMail}">
							<f:validateRegex
								pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							<f:validateLength maximum="50" />
							<p:ajax render="e-mail" event="valueChange"></p:ajax>
							<p:clientValidator event="keyup" />
						</p:inputText>
						<p:message for="e-mail" />
					</p:column>

					<p:columns var="date" value="#{meetingBean.sortedDates()}">
						<div style="text-align: center;">
							<p:selectBooleanCheckbox
								value="#{meetingBean.userDates[user][date]}"
								disabled="#{!meetingBean.dummyUser(user) and !meetingBean.isUserLoggedIn(user)}"
								rendered="#{!meetingBean.maxParticipantsReached() and meetingBean.editableUser==null or !meetingBean.dummyUser(user)}">
								<f:ajax execute="@this" />
							</p:selectBooleanCheckbox>
							<p:selectBooleanCheckbox
								value="#{meetingBean.userDates[user][date]}"
								disabled="#{!meetingBean.dummyUser(user)}"
								rendered="#{meetingBean.isUserEditable(user)}">
								<f:ajax execute="@this" />
							</p:selectBooleanCheckbox>
						</div>
					</p:columns>


					<p:columnGroup type="footer">
						<p:row>
							<p:column rowspan="4"
								footerText="#{msg.participation_Number_Of_Participants}"
								width="230" />
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
							</ui:repeat>
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
								<ui:repeat var="day"
									value="#{meetingBean.getDaysOfMonth(month)}"
									size="#{meetingBean.getDaysOfMonth(month).size()}">
								</ui:repeat>
							</ui:repeat>
						</p:row>
						<p:row>
							<ui:repeat value="#{meetingBean.getMonths(null)}" var="month"
								size="#{meetingBean.getMonths(month).size()}">
								<ui:repeat var="day"
									value="#{meetingBean.getDaysOfMonth(month)}"
									size="#{meetingBean.getDaysOfMonth(month).size()}">
									<ui:repeat var="time" value="#{meetingBean.getTimesOfDay(day)}"
										size="#{meetingBean.getTimesOfDay(day).size()}">
										<p:column
											footerText="#{meetingBean.numberOfParticipants[time]}"
											width="10" />
									</ui:repeat>
								</ui:repeat>
							</ui:repeat>
						</p:row>
					</p:columnGroup>

				</p:dataTable>
				<p:dataTable
					rendered="#{meetingBean.maxParticipantsReached() and ((not loginBean.loggedIn) || (loginBean.loggedIn and (not meetingBean.users.contains(loginBean.user))))}"
					var="user" value="#{meetingBean.usersOnWaitlist}" id="waitlist"
					class="scheduleTable">

					<p:columnGroup type="header">
						<p:column headerText="#{msg.participation_User}" width="230" />
						<p:column headerText="Waitlist"
							colspan="#{meetingBean.meeting.dates.size()}" />
					</p:columnGroup>

					<p:column>
						<p:commandButton action="#{meetingBean.deleteUser(user)}"
							icon="fa fa-remove" style="padding-right: 5px;"
							disabled="#{(user.registered.equalsIgnoreCase('yes') and !meetingBean.isUserLoggedIn(user)) or meetingBean.isConfirmed(null)}"
							rendered="#{!meetingBean.dummyUser(user) or meetingBean.isUserLoggedIn(user)}"
							immediate="true">
							<f:ajax execute="@this" render="@form" />
						</p:commandButton>
						<p:commandButton action="#{meetingBean.makeUserEditable(user)}"
							icon="fa fa-edit" style="padding-right: 5px;"
							update="@(form :not(.noupdate))"
							disabled="#{user.registered.equalsIgnoreCase('yes') or meetingBean.isConfirmed(null)}"
							rendered="#{!meetingBean.dummyUser(user)}" immediate="true">
							<p:ajax execute="@form" render="@form"
								update="@(form :not(.noupdate))" />
						</p:commandButton>
						<p:outputLabel value="#{user.userName}"
							rendered="#{!meetingBean.dummyUser(user) or meetingBean.isUserLoggedIn(user)}" />
						<p:inputText value="#{user.userName}" id="userName"
							rendered="#{meetingBean.dummyUser(user) and meetingBean.editableUser==null}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Name}"
							required="true" validatorMessage="#{msg.scheduleValidationName}"
							requiredMessage="#{msg.scheduleValidationName}">
							<f:validateLength minimum="1" maximum="50" />
							<p:clientValidator event="keyup" />
						</p:inputText>
						<p:message for="userName" />
						<p:inputText value="#{user.userName}" id="userName2"
							rendered="#{meetingBean.isUserEditable(user) and !meetingBean.isUserLoggedIn(user)}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Name}"
							required="true" validatorMessage="#{msg.scheduleValidationName}"
							requiredMessage="#{msg.scheduleValidationName}">
							<f:validateLength minimum="1" maximum="50" />
							<f:ajax render="username2"></f:ajax>
							<p:clientValidator event="keyup" />
							<p:focus for="userName2" />
						</p:inputText>
						<p:message for="userName2" />
						<p:inputText value="#{user.email}" id="e-mail"
							rendered="#{meetingBean.dummyUser(user) and meetingBean.editableUser==null and !meetingBean.isUserLoggedIn(user)}"
							styleClass="noupdate"
							placeholder="#{msg.participation_PlaceHolder_Mail}"
							required="true" validatorMessage="#{msg.scheduleValidationMail}"
							requiredMessage="#{msg.scheduleValidationMail}">
							<f:validateRegex
								pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							<f:validateLength maximum="50" />
							<p:ajax render="e-mail" event="valueChange"></p:ajax>
							<p:clientValidator event="keyup" />
						</p:inputText>
						<p:message for="e-mail" />
					</p:column>

					<p:columns var="date" value="#{meetingBean.sortedDates()}">
						<div style="text-align: center;">
							<p:selectBooleanCheckbox
								value="#{meetingBean.userDatesWaitlist[user][date]}"
								disabled="#{!meetingBean.dummyUser(user) and !meetingBean.isUserLoggedIn(user)}"
								rendered="#{meetingBean.editableUser==null or !meetingBean.dummyUser(user)}">
								<f:ajax execute="@this" />
							</p:selectBooleanCheckbox>
							<p:selectBooleanCheckbox
								value="#{meetingBean.userDatesWaitlist[user][date]}"
								disabled="#{!meetingBean.dummyUser(user)}"
								rendered="#{meetingBean.isUserEditable(user)}">
								<f:ajax execute="@this" />
							</p:selectBooleanCheckbox>
						</div>
					</p:columns>
				</p:dataTable>

				<br />
				<br />
				<p:commandButton action="#{meetingBean.addUser()}"
					value="#{msg.participation_Save}" id="Save"
					disabled="#{meetingBean.editableUser!=null}" update="table" />
				<p:commandButton action="#{meetingBean.editUSer()}"
					id="Save_Changes" value="#{msg.participation_SaveChanges}"
					immediate="true" disabled="#{meetingBean.editableUser==null}" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>