<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.overviewTitle}</ui:define>
	<ui:define name="content">
		<h1>#{msg.overviewTitle}</h1>
		<p:tabView id="tabs" dynamic="true" cache="false">
			<p:tab id="tab1" title="#{msg.overviewTab}">
				<h2>#{msg.overviewMy}</h2>
				<p:dataTable value="#{overviewBean.ownMeetings}" var="meeting">
					<p:column headerText="#{msg.scheduleTitle}" style="width:50%">
						<h:outputLink value="#{overviewBean.shareUrl}#{meeting.userLink}">#{meeting.title}</h:outputLink>
						<h:outputLink class="editLink"
							value="#{overviewBean.adminUrl}#{meeting.adminLink}">(bearbeiten)</h:outputLink>
					</p:column>
					<p:column class="attendance centerColumn"
						headerText="#{msg.overviewAttendance}">
						<h:outputText value="#{meeting.users.size()}" />
					</p:column>
					<p:column headerText="#{msg.overviewAttendanceMinMax}"
						class="centerColumn">
						<h:outputText class="attendanceMinMax"
							value="#{meeting.minParticipants}-#{meeting.maxParticipants}" />
					</p:column>
				</p:dataTable>
				<br />

				<h2>#{msg.overviewOther}</h2>
				<p:dataTable value="#{overviewBean.otherMeetings}" var="meeting">
					<p:column headerText="#{msg.scheduleTitle}" style="width:50%">
						<h:outputLink value="#{overviewBean.shareUrl}#{meeting.userLink}">#{meeting.title}</h:outputLink>
					</p:column>
					<p:column class="attendance centerColumn"
						headerText="#{msg.overviewAttendance}">
						<h:outputText value="#{meeting.users.size()}" />
					</p:column>
					<p:column headerText="#{msg.overviewAttendanceMinMax}"
						class="centerColumn">
						<h:outputText class="attendanceMinMax"
							value="#{meeting.minParticipants}-#{meeting.maxParticipants}" />
					</p:column>
				</p:dataTable>
			</p:tab>

			<p:tab id="tab2" title="#{msg.userGroupsTitle}">
				<h:form id="addGroupForm">
					<!-- Add group -->
					<h2>#{msg.groupadminCreateGroup}</h2>
					<h:panelGrid id="groupPanel" columns="3" class="tableFix">
						<p:outputLabel value="#{msg.adminGroupName}" for="adminGroupName" />
						<p:inputText id="adminGroupName"
							value="#{userBean.createGroupGroupName}" required="true"
							validatorMessage="#{msg.adminGroupNameValidation}"
							requiredMessage="#{msg.adminGroupNameValidation}">
							<f:validateLength minimum="1" maximum="30" />
							<p:clientValidator event="keyup" />
						</p:inputText>
						<p:message for="adminGroupName" />

						<p:outputLabel value="#{msg.adminGroupDesc}" for="adminGroupDesc" />
						<p:inputTextarea id="adminGroupDesc"
							value="#{userBean.createGroupGroupDescription}" rows="5"
							cols="30" maxlength="400" counter="display"
							counterTemplate="#{msg.groupadminCreateGroupRemainingCharacters}">
							<f:validateLength maximum="400" />
						</p:inputTextarea>
						<p:message for="adminGroupDesc" />

						<p:outputLabel />
						<p:outputLabel id="display" />
						<p:outputLabel />

						<p:commandButton class="fButton" id="createGroup"
							action="#{userBean.saveMyGroup()}"
							value="#{msg.groupadminCreate}"
							update=":tabs:addGroupForm:messageFormA :tabs:myGroupsForm:groupList :tabs:joinedGroups:myJoinedGroupsList"
							binding="#{userBean.componentA}" />
						<p:message id="messageFormA" for="createGroup" />
					</h:panelGrid>
				</h:form>

				<br />

				<h:form id="addUserForm">
					<!-- Add user to group -->
					<h2>#{msg.groupadminAddUserToGroup}</h2>
					<p:dataTable id="groupList"
						value="#{userBean.myGroupingInquiriesBeanList}"
						var="groupingInquirie" resizableColumns="true"
						emptyMessage="#{msg.listEmpty}">
						<p:column headerText="#{msg.groupadminUserName}">
							#{groupingInquirie.user.userName}
						</p:column>
						<p:column headerText="#{msg.groupadminUserEmail}">
							#{groupingInquirie.user.email}
						</p:column>
						<p:column headerText="#{msg.groupadminGroupname}">
							#{groupingInquirie.groups}
						</p:column>
						<p:column width="130">
							<p:commandButton value="#{msg.yes}"
								action="#{userBean.acceptGroupJoinRequest(groupingInquirie)}"
								execute="@this" update=":tabs:addUserForm:groupList" />
							<p:commandButton value="#{msg.no}"
								action="#{userBean.denyGroupJoinRequest(groupingInquirie)}"
								execute="@this" update=":tabs:addUserForm:groupList" />

						</p:column>
					</p:dataTable>
				</h:form>

				<br />

				<h:form id="myGroupsForm">
					<!-- My groups -->
					<h2>#{msg.userGroupList}</h2>
					<p:dataTable id="groupList" value="#{userBean.myGroupBeanList}"
						var="groups" resizableColumns="true"
						emptyMessage="#{msg.listEmpty}">
						<p:column filterBy="#{groups.groupsName}"
							filterMatchMode="startsWith" headerText="#{msg.adminGroupName}">
							#{groups.groupsName}
						</p:column>
						<p:column headerText="#{msg.adminGroupDesc}"
							style="text-wrap:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
							<h:outputText id="groupDescriptionTooltip"
								value="#{groups.groupsDescription}" />
							<p:tooltip for="groupDescriptionTooltip"
								value="#{groups.groupsDescription}" style="max-width:250px" />
						</p:column>
						<p:column headerText="#{msg.adminUsers}">
							<p:accordionPanel activeIndex="null">
								<p:tab title=" ">
									<h:dataTable id="groupListUsers" value="#{groups.groupings}"
										var="grouping">
										<h:column>
											#{grouping.user.userName}
										</h:column>
										<h:column>
											<div align="right">
												<p:commandButton icon="fa fa-remove"
													action="#{userBean.removeGrouping(grouping)}"
													update="@form" process="@this" >
													<p:confirm 
														header="#{msg.leaveGroupDialogQuestionHeader}"
														message="#{msg.removeUserDialogQuestionMessage}"
														icon="ui-icon-alert" />
												</p:commandButton>
												<p:confirmDialog global="true" showEffect="fade"
													hideEffect="fade">
													<p:commandButton value="#{msg.yes}" type="button"
														styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
													<p:commandButton value="#{msg.no}" type="button"
														styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
												</p:confirmDialog>
											</div>
										</h:column>
									</h:dataTable>
								</p:tab>
							</p:accordionPanel>
						</p:column>
						<p:column style="width:40px">
							<p:commandButton icon="fa fa-remove"
								action="#{userBean.removeGroup(groups)}" execute="@this"
								update="groupList" >
								<p:confirm 
									header="#{msg.leaveGroupDialogQuestionHeader}"
									message="#{msg.removeMyGroupDialogQuestionMessage}"
									icon="ui-icon-alert" />
							</p:commandButton>
							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="#{msg.yes}" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								<p:commandButton value="#{msg.no}" type="button"
									styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							</p:confirmDialog>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:tab>

			<p:tab id="tab3" title="#{msg.userJoinedGroups}">
				<h:form id="joinedGroups">
					<!-- Groups that I joined -->
					<h2>#{msg.userJoinedList}</h2>
					<p:dataTable id="myJoinedGroupsList"
						value="#{userBean.myJoinedGroupsList}" var="groups"
						emptyMessage="#{msg.listEmpty}" resizableColumns="true">
						<p:column filterBy="#{groups.groupsName}"
							filterMatchMode="startsWith" headerText="#{msg.adminGroupName}">
							#{groups.groupsName}
						</p:column>
						<p:column headerText="#{msg.adminGroupDesc}"
							style="text-wrap:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
							<h:outputText id="groupDescriptionTooltip"
								value="#{groups.groupsDescription}" />
							<p:tooltip for="groupDescriptionTooltip"
								value="#{groups.groupsDescription}" style="max-width:250px" />
						</p:column>
						<p:column style="width:200px">
							<p:commandButton class="fButton" value="#{msg.userLeaveGroup}"
								action="#{userBean.leaveGroup(groups)}" update="@form">
								<p:confirm header="#{msg.leaveGroupDialogQuestionHeader}"
									message="#{msg.leaveGroupDialogQuestionMessage}"
									icon="ui-icon-alert" />
							</p:commandButton>
							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="#{msg.yes}" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								<p:commandButton value="#{msg.no}" type="button"
									styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							</p:confirmDialog>
						</p:column>
					</p:dataTable>
					<br />

					<!-- Join groups -->
					<h2>#{msg.userJoinGroup}</h2>
					<h:panelGrid id="userToGroupPanel" columns="3">
						<p:selectCheckboxMenu value="#{userBean.groupsForUsersAdding}"
							converter="omnifaces.SelectItemsConverter"
							label="#{msg.adminGroups}" filter="true"
							filterMatchMode="startsWith">
							<f:selectItems value="#{userBean.groupBeanList}" />
						</p:selectCheckboxMenu>
						<p:commandButton class="fButton"
							action="#{userBean.askGroupadminForGroupJoining()}"
							value="#{msg.userJoinGroupButton}"
							update=":tabs:joinedGroups:myJoinedGroupsList" />
						<p:messages autoUpdate="true" />
					</h:panelGrid>
				</h:form>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
</html>