<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">Login Error</ui:define>
	<ui:define name="content">
		<h1>Login Error</h1>
		<p:panel>
			<p>
				Sign in failed. <br />Please try again:
			</p>
			<p:button class="fButton" value="#{msg.login}" outcome="overview" update="@all"/>
		</p:panel>
	</ui:define>
</ui:composition>
</html>