<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.login}</ui:define>
	<ui:define name="content">
		<h1>#{msg.loginHeadline}</h1>
		<p:panel>
			<h:form id="login" onsubmit="document.getElementById('login').action='j_security_check';" prependId="false">
			<p:focus for="j_username"/>
				<h:panelGrid columns="3">
					<p:outputLabel value="Email" />
					<p:inputText value="#{loginBean.email}" size="20" maxlength="64"
						required="true" id="j_username" name="j_username" validatorMessage="#{msg.scheduleValidationMail}"
							requiredMessage="#{msg.scheduleValidationMail}">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						<f:validateLength maximum="50" />
						<p:clientValidator event="keyup" />
					</p:inputText>
					<p:message for="j_username" />
					
					<p:outputLabel value="Password" />
					<p:password value="#{loginBean.password}" id="j_password"
						name="j_password" />
					<p:outputLabel value="" />
					
					<p:commandButton class="fButton" id="button" value="#{msg.login}" ajax="false" />
				</h:panelGrid>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>