<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.registerHeadline}</ui:define>
	<ui:define name="content">
		<h1>#{msg.registerHeadline}</h1>
		<p:panel>
			<h:form id="form">			
			<p:focus for="username"/>
				<h:panelGrid id="grid" columns="3">
					<h:outputLabel for="username" value="#{msg.username}" />
					<p:inputText id="username" value="#{registerBean.username}"
						size="20" maxlength="64" required="true" validatorMessage="#{msg.scheduleValidationName}"
									requiredMessage="#{msg.scheduleValidationName}">
						<f:validateLength maximum="50" minimum="1" />
						<p:clientValidator event="keyup" />
					</p:inputText>
					<p:message id="usernameMessage" for="username" />

					<h:outputLabel for="email" value="#{msg.email}" />
					<p:inputText id="email" value="#{registerBean.email}" size="20"
						maxlength="64" required="true" validatorMessage="#{msg.scheduleValidationMail}"
							requiredMessage="#{msg.scheduleValidationMail}">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						<f:validateLength maximum="50" />
						<p:clientValidator event="keyup" />
						<f:validator binding="#{uniqueEmailValidator}" />
					</p:inputText>
					<p:message for="email" />

					<h:outputLabel for="password" value="#{msg.password}" />
					<p:password id="password" value="#{registerBean.password}"
						size="20" maxlength="64" required="true" match="password2" validatorMessage="#{msg.registerPassword}"
							requiredMessage="#{msg.registerPassword}">
						<f:validateLength maximum="50" />
						<p:clientValidator event="keyup" />
					</p:password>
					<p:message for="password" />
					
					<h:outputLabel for="password2" value="#{msg.passwordRepeat}" />
					<p:password id="password2" value="#{registerBean.password}" 
						size="20" maxlength="64" required="true" 
							requiredMessage="#{msg.registerConfirmPassword}">
						<f:validateLength maximum="50" />
						<p:clientValidator event="keyup" />
					</p:password>
					<p:message for="password2" />

					<p:commandButton class="fButton" type="submit" action="#{registerBean.submit()}"
						value="#{msg.register}" update="@all"/>
				</h:panelGrid>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>