<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.scheduleSummary}</ui:define>
	<ui:define name="content">

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&amp;version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<h1>#{msg.scheduleSummaryHeader}</h1>
		<p:panel onload="#{urlBean.update()}">
			<p>#{msg.scheduleSummaryInfo}</p>
			<br />
			<h:panelGrid columns="2" style="width:100%">
				<h:outputLabel for="sharelink" value="#{msg.participationlink}" />
				<h:link id="sharelink" value="#{schedulingBean.printShareLink()}"
					outcome="sharelink">
					<f:param name="id" value="#{schedulingBean.sharelink}" />
				</h:link>
				<h:outputLabel for="adminlink" value="#{msg.adminlink}" />
				<h:link id="adminlink" value="#{schedulingBean.printAdminLink()}"
					outcome="adminlink">
					<f:param name="id" value="#{schedulingBean.adminlink}" />
				</h:link>
			</h:panelGrid>
			<br />
			<div class="fb-share-button"
				data-href="#{schedulingBean.printShareLink()}" data-layout="button"></div>
		</p:panel>
	</ui:define>
</ui:composition>
</html>