<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.scheduleHeaderTitle}</ui:define>
	<ui:define name="content">
		<div onload="#{schedulingBean.checkLogin()}">
			<h:outputScript library="js" name="locale.js" target="head" />
			<h1>#{msg.scheduleLink}</h1>
			<p:panel>
				<h:form id="form">
					<div>
						<div id="scheduleBox">
							<h2>
								<h:outputFormat value="#{msg.schedulePhase}">
									<f:param
										value="#{schedulingBean.pageStatus == 0 ? msg.schedulePhase1 : ''}" />
									<f:param
										value="#{schedulingBean.pageStatus == 1 ? msg.schedulePhase2 : ''}" />
									<f:param
										value="#{schedulingBean.pageStatus == 2 ? msg.schedulePhase3 : ''}" />
									<f:param
										value="#{schedulingBean.pageStatus == 3 ? msg.schedulePhase4 : ''}" />
								</h:outputFormat>
							</h2>
							<h:panelGrid columns="3" width="100%" class="tableFix"
								rendered="#{schedulingBean.pageStatus == 0}">
								<h:outputLabel for="scheduleTitle"
									value="#{msg.scheduleTitleRequired}" />
								<p:inputText id="scheduleTitle" value="#{schedulingBean.title}"
									required="true"
									validatorMessage="#{msg.scheduleValidationTitle}"
									requiredMessage="#{msg.scheduleValidationTitle}">
									<f:validateLength minimum="1" maximum="100" />
									<p:clientValidator event="keyup" />
								</p:inputText>
								<p:message for="scheduleTitle" />

								<h:outputLabel for="scheduleLocation"
									value="#{msg.scheduleLocation}" />
								<p:inputText id="scheduleLocation"
									value="#{schedulingBean.location}"
									validatorMessage="#{msg.scheduleValidationLocation}">
									<f:validateLength maximum="100" />
									<p:clientValidator event="keyup" />
								</p:inputText>
								<p:message for="scheduleLocation" />

								<h:outputLabel for="scheduleDescription"
									value="#{msg.scheduleDescription}" />
								<p:inputTextarea id="scheduleDescription"
									value="#{schedulingBean.description}" rows="5" cols="30"
									maxlength="400" >
									<f:validateLength maximum="400" />
								</p:inputTextarea>
								<p:message for="scheduleDescription" />

								<h:outputLabel for="scheduleMax" value="#{msg.scheduleMax}" />
								<p:inputText id="scheduleMax" type="number"
									value="#{schedulingBean.maxParticipants}" required="true"
									validatorMessage="#{msg.scheduleValidationMax}"
									requiredMessage="#{msg.scheduleValidationMax}">
									<f:validateLongRange minimum="1" maximum="100" />
									<f:ajax event="valueChange" render="maxMessage" />
								</p:inputText>
								<p:message id="maxMessage" for="scheduleMax" />

								<h:outputLabel for="scheduleMin" value="#{msg.scheduleMin}" />
								<p:inputText id="scheduleMin" type="number"
									value="#{schedulingBean.minParticipants}" required="true"
									validatorMessage="#{msg.scheduleValidationMin}"
									requiredMessage="#{msg.scheduleValidationMin}">
									<f:validateLongRange minimum="1"
										maximum="#{schedulingBean.maxParticipants}" />
									<f:ajax event="valueChange" render="minMessage" />
								</p:inputText>
								<p:message id="minMessage" for="scheduleMin" />

								<h:outputLabel for="scheduleName"
									value="#{msg.scheduleNameRequired}" />
								<p:inputText id="scheduleName" value="#{schedulingBean.name}"
									required="true"
									validatorMessage="#{msg.scheduleValidationName}"
									requiredMessage="#{msg.scheduleValidationName}"
									disabled="#{schedulingBean.loginBean.loggedIn}">
									<f:validateLength minimum="1" maximum="50" />
									<p:clientValidator event="keyup" />
								</p:inputText>
								<p:message for="scheduleName" />

								<h:outputLabel for="scheduleMail"
									value="#{msg.scheduleMailRequired}" />
								<p:inputText id="scheduleMail" value="#{schedulingBean.mail}"
									required="true"
									validatorMessage="#{msg.scheduleValidationMail}"
									requiredMessage="#{msg.scheduleValidationMail}"
									disabled="#{schedulingBean.loginBean.loggedIn}">
									<f:validateRegex
										pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
									<f:validateLength maximum="50" />
									<p:clientValidator event="keyup" />
								</p:inputText>
								<p:message for="scheduleMail" />
								<h:outputLabel value="#{msg.scheduleRequired}" />
								<p:focus for="scheduleTitle" />
							</h:panelGrid>

							<h:panelGrid columns="2" class="schedulingDatePicker"
								rendered="#{schedulingBean.pageStatus == 1}">
								<h:panelGrid columns="2">
									<h:outputLabel value="#{msg.scheduleDate}" />
									<p:calendar id="cal" value="#{schedulingBean.date}"
										locale="#{msg.calendarLocale}" mode="popup" navigator="true"
										pattern="#{msg.calendarPattern}"
										mindate="#{schedulingBean.timeString}" />

									<h:outputLabel value="#{msg.scheduleTime}" />
									<p:calendar value="#{schedulingBean.time}"
										locale="#{msg.calendarLocale}" mode="popup" pattern="HH:mm"
										timeOnly="true" stepMinute="5" />

									<p:commandButton class="fButton" value="#{msg.scheduleDateAdd}"
										action="#{schedulingBean.addDateItem()}" update="@form" />
								</h:panelGrid>

								<h:dataTable value="#{schedulingBean.dates}" var="dateItem" style="width:100%">
									<h:column>#{dateItem.toString(msg.timeLocale)}</h:column>
									<h:column>
										<p:commandButton icon="fa fa-remove"
											action="#{schedulingBean.removeDateItem(dateItem)}"
											update="@form" />
									</h:column>
								</h:dataTable>

								<p:messages id="dateTimeMessages" />
							</h:panelGrid>

							<h:panelGrid columns="2" class="tableFix"
								rendered="#{schedulingBean.pageStatus == 2}">
								<h:outputLabel for="groups" value="#{msg.scheduleInviteGroup}" />
								<h:panelGroup>
									<p:selectCheckboxMenu id="groups" class="fButton"
										value="#{schedulingBean.selectedGroups}"
										label="#{msg.scheduleInviteGroup}" filter="true"
										filterMatchMode="startsWith"
										converter="omnifaces.SelectItemsConverter">
										<f:selectItems value="#{schedulingBean.groups}" var="grp"
											itemDescription="#{grp.groupsDescription}" />
										<p:ajax event="toggleSelect" process="@this" />
										<p:ajax event="change" process="@this" />
									</p:selectCheckboxMenu>
									<p:commandButton class="fButton"
										action="#{schedulingBean.updateGroupTree()}"
										value="#{msg.scheduleInviteGroupButton}" update="groupList" />
								</h:panelGroup>

								<h:outputLabel for="inviteMails"
									value="#{msg.scheduleInviteMails}" />
								<h:panelGroup id="inviteMails">
									<p:inputText id="inviteMailInput"
										value="#{schedulingBean.inviteMail}"
										validatorMessage="#{msg.scheduleValidationMail}"
										binding="#{mail}">
										<f:validateRegex
											pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										<f:validateLength maximum="50" />
										<f:ajax event="keyup" render="mailMessage mailAddButton"
											execute="@form" />
									</p:inputText>
									<p:commandButton class="fButton" id="mailAddButton"
										value="#{msg.scheduleInviteAdd}"
										action="#{schedulingBean.addMailItem()}"
										disabled="#{empty schedulingBean.inviteMail or not mail.valid}"
									 process="inviteMails" update="mailList" />
									<p:messages id="mailMessage" />
								</h:panelGroup>

								<h:outputLabel value="#{msg.scheduleInviteLabel}" />
								<h:panelGroup>
									<p:treeTable style="margin-top:40px" id="groupList"
										value="#{schedulingBean.groupRoot}" var="groupTree"
										emptyMessage="#{msg.scheduleInviteGroupBox}">
										<p:column headerText="#{msg.scheduleInviteGroup}">
											<h:outputText value="#{groupTree}"
												rendered="#{groupTree['class'].simpleName == 'Groups'}" />
											<h:dataTable value="#{groupTree}"
												rendered="#{groupTree['class'].simpleName == 'HashSet'}"
												var="groupTreeUsers">
												<h:column>#{groupTreeUsers}</h:column>
											</h:dataTable>
										</p:column>
										<p:column style="text-align:right;width:200px;">
											<p:commandButton class="fButton"
												action="#{schedulingBean.deleteGroupFromTree(groupTree)}"
												value="#{msg.scheduleInviteRemove}"
												rendered="#{groupTree['class'].simpleName == 'Groups'}"
												icon="fa fa-remove" update="@form" />
										</p:column>
									</p:treeTable>
									<p:dataTable id="mailList" style="margin-bottom:40px"
										value="#{schedulingBean.inviteMails}" var="item"
										emptyMessage="#{msg.scheduleInviteMailBox}">
										<p:column headerText="#{msg.scheduleInviteMails}">
											#{item.value}
										</p:column>
										<p:column style="text-align:right;width:200px;">
											<p:commandButton class="fButton"
												value="#{msg.scheduleInviteRemove}"
												action="#{schedulingBean.removeMailItem(item)}"
												icon="fa fa-remove" update="@form"/>
										</p:column>
									</p:dataTable>
								</h:panelGroup>

								<h:outputLabel for="inviteMessage"
									value="#{msg.scheduleInviteMessage}" />
								<p:inputTextarea value="#{schedulingBean.inviteMessage}"
									id="inviteMessage" rows="5" cols="30" maxlength="400">
									<f:validateLength maximum="400" />
								</p:inputTextarea>
								<p:message for="inviteMessage" />
								<p:focus for="inviteMailInput" />
							</h:panelGrid>

							<h:panelGroup rendered="#{schedulingBean.pageStatus == 3}">
								<h:panelGrid columns="2" class="tableFix">
									<h:outputLabel for="scheduleTitleSummary"
										value="#{msg.scheduleTitle}" />
									<h:outputText id="scheduleTitleSummary"
										value="#{schedulingBean.title}" />

									<h:outputLabel for="scheduleLocationSummary"
										value="#{msg.scheduleLocation}" />
									<h:outputText id="scheduleLocationSummary"
										value="#{schedulingBean.location}" />

									<h:outputLabel for="scheduleDescriptionSummary"
										value="#{msg.scheduleDescription}" />
									<h:outputText id="scheduleDescriptionSummary"
										value="#{schedulingBean.description}" />

									<h:outputLabel for="scheduleMinSummary"
										value="#{msg.scheduleMin}" />
									<h:outputText id="scheduleMinSummary"
										value="#{schedulingBean.minParticipants}" />

									<h:outputLabel for="scheduleMaxSummary"
										value="#{msg.scheduleMax}" />
									<h:outputText id="scheduleMaxSummary"
										value="#{schedulingBean.maxParticipants}" />

									<h:outputLabel for="scheduleNameSummary"
										value="#{msg.scheduleName}" />
									<h:outputText id="scheduleNameSummary"
										value="#{schedulingBean.name}" />

									<h:outputLabel for="scheduleMailSummary"
										value="#{msg.scheduleMail}" />
									<h:outputText id="scheduleMailSummary"
										value="#{schedulingBean.mail}" />

									<h:outputLabel for="scheduleDatesSummary"
										value="#{msg.scheduleDatesSummary}" />
									<h:dataTable id="scheduleDatesSummary"
										value="#{schedulingBean.dates}" var="dateItem">
										<h:column>
						#{dateItem.toString(msg.timeLocale)}
					</h:column>
									</h:dataTable>
								</h:panelGrid>

								<br />
								<h:panelGroup id="mailNotificationPanel">
									<h:outputLabel
										value="#{msg.adminMailNotificationSurveyReminder}" />
									<br />
									<p:calendar value="#{schedulingBean.reminderDate}"
										locale="#{msg.calendarLocale}" mode="popup" navigator="true"
										pattern="#{msg.calendarPatternTime}"
										mindate="#{schedulingBean.timeString}"
										maxdate="#{schedulingBean.calculateMaxDate()}" stepMinute="5" />
									<br />
								</h:panelGroup>
								<p:messages />
							</h:panelGroup>
						</div>
						<p:commandButton class="fButton" type="submit"
							action="#{schedulingBean.previous()}"
							value="#{msg.schedulePrevious}"
							rendered="#{schedulingBean.pageStatus != 0}" update="@form" />
						<p:commandButton class="fButton" type="submit"
							action="#{schedulingBean.next()}" value="#{msg.scheduleNext}"
							rendered="#{schedulingBean.pageStatus == 0 || schedulingBean.pageStatus == 2}"
							update="@form" />
						<p:commandButton class="fButton" type="submit"
							action="#{schedulingBean.checkDates}" value="#{msg.scheduleNext}"
							rendered="#{schedulingBean.pageStatus == 1 }"
							disabled="#{empty schedulingBean.dates}" update="@form" />
						<p:commandButton class="fButton" type="submit"
							action="#{schedulingBean.submit()}" value="#{msg.scheduleSubmit}"
							rendered="#{schedulingBean.pageStatus == 3}" update="@form" />
					</div>
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>
</html>