<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="templates/template.xhtml">
	<ui:define name="title">FlexPlan</ui:define>
	<ui:define name="content">
		<h1>FlexPlan</h1>
		<p:panel>
			<h2>#{msg.welcomeHeader}</h2>
			<p style="text-align: justify">#{msg.welcomeText}</p>
			<p style="text-align: justify">#{msg.welcomeText2}</p>
			<p style="text-align: justify">#{msg.welcomeText3}</p>
			<div style="text-align: center">
				<h:graphicImage library="images" name="fplogo.jpg" alt="FlexPlan" />
			</div>
		</p:panel>
	</ui:define>
</ui:composition>
</html>