<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.editHeaderTitle}</ui:define>
	<ui:define name="content">
		<h1>#{msg.editHeaderTitle}</h1>
		<p:tabView rendered="#{not editEventBean.idError}" dynamic="true"
			cache="false">
			<p:tab title="#{msg.editTitle}">
				<h2>#{msg.editTitle}</h2>
				<h:link id="adminlink" value="#{msg.editSurveyLink}"
					outcome="sharelink">
					<f:param name="id" value="#{editEventBean.meeting.userLink}" />
				</h:link>


				<h:panelGroup rendered="#{not editEventBean.idError}">
					<p>#{msg.editDescription}</p>
				</h:panelGroup>

				<o:form includeRequestParams="true">
					<h:panelGrid class="tableFix" columns="3"
						rendered="#{not editEventBean.idError}">
						<h:outputLabel for="scheduleTitle"
							value="#{msg.scheduleTitleRequired}" />
						<p:inplace editor="true">
							<p:inputText id="scheduleTitle" value="#{editEventBean.title}"
								required="true"
								validatorMessage="#{msg.scheduleValidationTitle}"
								requiredMessage="#{msg.scheduleValidationTitle}">

								<f:validateLength minimum="1" maximum="100" />
								<p:clientValidator event="keyup" />
							</p:inputText>
							<p:ajax event="save" update="editSubmitButton"
								listener="#{editEventBean.editListener()}" />
						</p:inplace>
						<p:message for="scheduleTitle" />

						<h:outputLabel for="scheduleLocation"
							value="#{msg.scheduleLocation}" />
						<p:inplace editor="true" emptyLabel="#{msg.scheduleLocation}">
							<p:inputText id="scheduleLocation"
								value="#{editEventBean.location}"
								validatorMessage="#{msg.scheduleValidationLocation}">
								<f:validateLength maximum="100" />
								<p:clientValidator event="keyup" />
							</p:inputText>
							<p:ajax event="save" update="editSubmitButton"
								listener="#{editEventBean.editListener()}" />
						</p:inplace>
						<p:message for="scheduleLocation" />

						<h:outputLabel for="scheduleDescription"
							value="#{msg.scheduleDescription}" />
						<p:inplace editor="true" emptyLabel="#{msg.scheduleDescription}">
							<p:inputTextarea id="scheduleDescription"
								value="#{editEventBean.description}" rows="5" cols="30"
								maxlength="400">
								<f:validateLength maximum="400" />
							</p:inputTextarea>
							<p:ajax event="save" update="editSubmitButton"
								listener="#{editEventBean.editListener()}" />
						</p:inplace>
						<p:message for="scheduleDescription" />

						<h:outputLabel for="scheduleMax" value="#{msg.scheduleMax}" />
						<p:inplace editor="true">
							<p:inputText id="scheduleMax" type="number"
								value="#{editEventBean.maxParticipants}" required="true"
								validatorMessage="#{msg.editValidationMax}"
								requiredMessage="#{msg.editValidationMax}">
								<f:validateLongRange
									minimum="#{editEventBean.participatingUsers()}" maximum="100" />
								<p:clientValidator event="valueChange" />
							</p:inputText>
							<p:ajax event="save" update="editSubmitButton"
								listener="#{editEventBean.editListener()}" />
						</p:inplace>
						<p:message id="maxMessage" for="scheduleMax" />

						<h:outputLabel for="scheduleMin" value="#{msg.scheduleMin}" />
						<p:inplace editor="true">
							<p:inputText id="scheduleMin" type="number"
								value="#{editEventBean.minParticipants}" required="true"
								validatorMessage="#{msg.editValidationMin}"
								requiredMessage="#{msg.editValidationMin}">
								<f:validateLongRange minimum="1"
									maximum="#{editEventBean.maxParticipants}" />
								<p:clientValidator event="valueChange" />
							</p:inputText>
							<p:ajax event="save" update="editSubmitButton"
								listener="#{editEventBean.editListener()}" />
						</p:inplace>
						<p:message id="minMessage" for="scheduleMin" />



						<h:outputLabel value="#{msg.editParticipants}"
							for="scheduleParticipants" />
						<h:outputText id="scheduleParticipants"
							value="#{editEventBean.meeting.users.size()}" />
						<p:message id="participantsMessage" for="scheduleParticipants" />

					</h:panelGrid>
					<h:outputLabel value="#{msg.scheduleRequired}"
						rendered="#{not editEventBean.idError}" />

					<br />
					<br />
					<br />
					<br />

					<h:panelGrid columns="2" rendered="#{not editEventBean.idError}">
						<h:outputLabel value="#{msg.scheduleDate}" />
						<p:calendar value="#{editEventBean.date}"
							locale="#{msg.calendarLocale}" mode="popup" navigator="true"
							pattern="#{msg.calendarPattern}"
							mindate="#{editEventBean.timeString}" />
						<h:outputLabel value="#{msg.scheduleTime}" />

						<p:calendar value="#{editEventBean.time}"
							locale="#{msg.calendarLocale}" mode="popup" pattern="HH:mm"
							timeOnly="true" stepMinute="5" />

						<p:commandButton class="fButton" value="#{msg.scheduleDateAdd}"
							action="#{editEventBean.addDateItem()}" update="@form" />
					</h:panelGrid>
					<br />

					<h:panelGrid rendered="#{not editEventBean.idError}">
						<h:dataTable value="#{editEventBean.dates}" var="dateItem">
							<h:column>
								<f:facet name="header">#{msg.editDate}</f:facet>
					#{dateItem.date.toString(msg.timeLocale)}
				</h:column>
							<h:column>
								<f:facet name="header">#{msg.editUsers}</f:facet>
								<div align="center">#{dateItem.participatingUsers}</div>
							</h:column>
							<h:column>
								<p:commandButton icon="fa fa-remove"
									action="#{editEventBean.removeDateItem(dateItem)}"
									disabled="#{editEventBean.checkConfirmedDateFromDateWrapper(dateItem)}"
									update="@form" />
							</h:column>
						</h:dataTable>

					</h:panelGrid>
					<p:messages id="dateTimeMessages" />

					<br />
					<p:commandButton class="fButton" id="editSubmitButton"
						type="submit" action="#{editEventBean.submit()}"
						value="#{msg.editSaveChanges}"
						disabled="#{empty editEventBean.dates or not editEventBean.settingsEdited}"
						rendered="#{not editEventBean.idError}" update="@form" />
					<p:button class="fButton" value="#{msg.editDiscardChanges}"
						outcome="adminlink" rendered="#{not editEventBean.idError}">
						<f:param name="id" value="#{editEventBean.meeting.adminLink}" />
					</p:button>
				</o:form>
			</p:tab>


			<p:tab title="#{msg.editWaitlistTitle}">
				<h:form>
					<h2>#{msg.editWaitlistTitle}</h2>
					<p:dataTable value="#{editEventBean.waitListUsers}"
						var="waitlistUser" emptyMessage="#{msg.listEmpty}">
						<p:column headerText="#{msg.adminUserName}">
						#{waitlistUser.userName}
					</p:column>
						<p:column headerText="#{msg.adminUserMail}">
						#{waitlistUser.email}
					</p:column>
						<p:column>
							<p:commandButton class="fButton"
								action="#{editEventBean.mergeUserFromWaitlist(waitlistUser, true)}"
								value="#{msg.editWaitlistAddUser}" update="@form" />
						</p:column>
					</p:dataTable>
					<p:messages />
				</h:form>
			</p:tab>

			<p:tab title="#{msg.editDateTitle}">
				<h:form>
					<h2>#{msg.editDateTitle}</h2>
					<p:dataTable value="#{editEventBean.confirmDateList}"
						var="dateItem" emptyMessage="#{msg.listEmpty}">
						<p:column headerText="#{msg.editDate}">
						#{editEventBean.convertTDateToDateTime(dateItem).toString(msg.timeLocale)}
					</p:column>
						<p:column headerText="#{msg.editParticipants}">
							<p:accordionPanel activeIndex="null">
								<p:tab title=" ">
									<h:dataTable
										value="#{editEventBean.getParticipatingUsersFromDate(dateItem)}"
										var="usersFromTDate">
										<h:column>	#{usersFromTDate.userName}</h:column>
									</h:dataTable>
								</p:tab>
							</p:accordionPanel>
						</p:column>
					</p:dataTable>

					<br />
					<p:selectOneRadio id="radio"
						value="#{editEventBean.confirmedTDate}" layout="pageDirection"
						converter="omnifaces.SelectItemsConverter"
						disabled="#{editEventBean.checkForConfirmedDate()}">
						<f:selectItems value="#{editEventBean.confirmDateList}" var="conf"
							itemLabel="#{editEventBean.convertTDateToDateTime(conf).toString(msg.timeLocale)}" />
						<p:ajax process="radio" update="@form"
							listener="#{editEventBean.radioValueChange()}" />
					</p:selectOneRadio>


					<br />
					<br />
					<br />

					<p:commandButton value="#{msg.editDateConfirm}"
						action="#{editEventBean.validateTDate()}"
						disabled="#{editEventBean.checkForConfirmedDate() or empty editEventBean.confirmedTDate}"
						update="@form">
						<p:confirm header="#{msg.confirmation}"
							message="#{msg.editDateConfirmConfirmation}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton action="#{editEventBean.invalidateTDate()}"
						value="#{msg.editDateCancel}"
						disabled="#{not editEventBean.checkForConfirmedDate()}"
						update="@form">
						<p:confirm header="#{msg.confirmation}"
							message="#{msg.editDateCancelConfirmation}" icon="ui-icon-alert" />
					</p:commandButton>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="#{msg.yes}" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
							update="@form">
						</p:commandButton>
						<p:commandButton value="#{msg.no}" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close"
							update="@form">
						</p:commandButton>
					</p:confirmDialog>
				</h:form>
			</p:tab>
		</p:tabView>

		<h:panelGrid rendered="#{editEventBean.idError}">
			<p>#{msg.editFailure}</p>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>