<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../templates/template.xhtml">
	<ui:define name="title">#{msg.editSuccessTitle}</ui:define>
	<ui:define name="content">
		<h1>#{msg.editSuccessTitle}</h1>
		<p:panel>
			<p>#{msg.editSuccess}</p>
			<h:outputLink value="">#{msg.editBack}</h:outputLink>
			<br />
			<h:link outcome="eventScheduling" value="#{msg.scheduleLink}" />
		</p:panel>
	</ui:define>
</ui:composition>
</html>